@model Ticket_Booking.Models.TripsModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    #animation{
        width: 100%;
        padding: 50px 0;
        margin-top: 20px;
    }
</style>
<!DOCTYPE html>

<html>

<body class="bg agileinfo">
    <h1 class="agile-head text-center">Add New Trip</h1>

        <div class="container-w3">

            <div class="form_w3layouts">

                @using (Html.BeginForm("Save", "Trips", FormMethod.Post, new { @class = "agile_form" }))
                {
                    
                    @Html.HiddenFor(m => m.Id)
            <table style="margin:15px;margin-left:55px;">
                <tr>
                    <td style="text-align:left"> @Html.LabelFor(m => m.CoachNo)</td>
                    <td style ="text-align: left"> @Html.TextBoxFor(m => m.CoachNo, new { @style = "width:275px;margin:10px" })</td>
                </tr>
                
                <tr>
                    <td style="text-align:left">@Html.LabelFor(m => m.NumberOfSeat) </td>
                    <td>@Html.TextBoxFor(m => m.NumberOfSeat, new { @style = "width:275px;margin:10px" })</td>
                </tr>
                
                <tr class ="country">
                    <td style="text-align:left">@Html.LabelFor(m => m.RouteFrom)</td>
                    <td style="text-align: left">@Html.DropDownListFor(m => m.RouteFrom, ViewBag.placeName as SelectList, "Select Starting Point", new { @style = "width:303px;margin:10px" })</td>
                </tr>

                <tr class="country">
                    <td style="text-align:left">@Html.LabelFor(m => m.RouteTo)</td>
                    <td style="text-align: left">@Html.DropDownListFor(m => m.RouteTo, ViewBag.placeName as SelectList, "Select Dropping Point", new { @style = "width:303px;margin:10px" })</td>
                </tr>
               <tr>
                   <td style="text-align:left">@Html.LabelFor(m => m.DepartureTime)</td>
                   <td style="text-align: left">@Html.TextBoxFor(m => m.DepartureTime, new { type = "time", @style = "width:302px;margin:10px" })</td>
               </tr>
               <tr>
                   <td style="text-align:left">@Html.LabelFor(m => m.ArrivalTime)</td>
                   <td style="text-align: left">@Html.TextBoxFor(m => m.ArrivalTime, new { type = "time", @style = "width:302px;margin:10px" })</td>
               </tr>
                <tr>
                    <td style="text-align:left">@Html.LabelFor(m => m.Fare)</td>
                    <td style="text-align: left">@Html.TextBoxFor(m => m.Fare, new { @style = "width:275px;margin:10px" })</td>
                </tr>
                <tr class ="country">
                    <td style="text-align:left">
                        @Html.LabelFor(m => m.CoachType)

                    </td>
                    <td style="text-align: left">@Html.DropDownListFor(m => m.CoachType, ViewBag.coachType as SelectList, "Select Coach Type", new { @style = "width:303px;margin:10px" })</td>
                 </tr>
                <tr>
                    <td style="text-align:left">@Html.LabelFor(m => m.NoOfSeatPerRow)</td>
                    <td style="text-align: left">@Html.TextBoxFor(m => m.NoOfSeatPerRow, new { @style = "width:275px;margin:10px" })</td>
                </tr>
                
               
            </table>
                <div class="submit">
                    <input type="submit" value="ADD" />
                </div>
                }
            </div>
        </div>
 

    <script>
        function animation() {
            var x = document.getElementById('animation');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
    </script>
    <link rel="stylesheet" href=@Url.Content("/Content/jquery-ui.css") />
    <script src="/Content/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker();
        });
    </script>

</body>
</html>
